@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

/* ================= NAVBAR ================= */
.navbar {
    background: #78B83F;
    padding: 17px 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: 85%;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    z-index: 100;
}


.nav-menu a {
    color: #000000;
    margin-right: 28px;
    text-decoration: none;
    font-weight: 500;
    font-size: 13.5px;
    letter-spacing: 0.2px;
}

.btn-login {
    background-color: #ffffff;
    color: #78B83F;
    padding: 8px 24px;
    border-radius: 22px;
    font-size: 13.5px;
    font-weight: 600;
}

/* ================= HERO ================= */
.hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    padding: 150px 85px 185px;
    color: #ffffff;
    text-align: center;
    position: relative;
    padding-top: 220px;
}


.hero h1 {
    font-size: 46px;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 12px;
}

.hero h1 span {
    color: #FFD100;
}

.hero p {
    max-width: 720px;
    margin: 18px auto 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.65;
    opacity: 0.95;
}

/* ================= FEATURED ================= */
.featured {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    margin: -75px auto 0;
    width: 78%;
    border-radius: 16px;
    padding: 34px 44px;
    box-shadow: 0 12px 32px rgba(0,0,0,0.12);
}

.featured div {
    text-align: center;
}

.featured h3 {
    color: #78B83F;
    font-size: 21px;
    margin: 6px 0;
    font-weight: 700;
}

.featured p {
    font-size: 12px;
    color: #666666;
}

/* ================= WHY ================= */
.why {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 110px 85px;
    gap: 65px;
}

.why h2 {
    font-size: 27px;
    font-weight: 700;
}

.why h2 span {
    color: #78B83F;
}

.why p {
    font-size: 14px;
    color: #555555;
    line-height: 1.75;
    margin: 22px 0;
}

.btn-yellow {
    background-color: #E0AF49;
    padding: 11px 24px;
    border-radius: 22px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
}

CATEGORIES 
.categories {
    padding: 85px;
    text-align: center;
}

.categories h2 {
    font-size: 25.5px;
    font-weight: 700;
}

.categories h2 span {
    color: #78B83F;
}

.category-grid {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 42px;
}

.card {
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 11px 26px rgba(0,0,0,0.09);
}

.card img {
    width: 100%;
    display: block;
}

.card p {
    background-color: #78B83F;
    color: #ffffff;
    padding: 13px;
    font-size: 13px;
    font-weight: 500;
}

.property-card {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.property-image {
    width: 100%;
    height: 260px;          /* INI YANG NGATUR TINGGI */
    overflow: hidden;
}

.property-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;      /* WAJIB */
}

.property-footer {
    padding: 16px;
    text-align: center;
}
